@media (max-width:1024px) {
    .span-phew{
        display: none !important;
    }
    .hmm{
        margin-left: 40% !important;
    }
    #icon{
        margin-left: 1% !important;
    }
    .tweet-we{
        display: none !important;
    }
    .bthee,.psaa{
        display: none !important;
    }
    #elipi{
        display: none !important;
    }
    .img-f{
        margin-left: 30% !important;
    }
}